name: Show build and release number
run-name: "Test Build ${{ github.run_number }} - ${{ github.event.head_commit.message }}"
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build and test
        run: |
          echo "Building the project..."

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment: Development

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Development
        run: |
          echo "Deploying to Development environment..."
