name: Show build and release number
run-name: Build ${{ github.run_number }} - Release ${{ github.ref_name }}
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

  workflow_dispatch:

env:
  BUILD_NUMBER: ${{ github.run_number }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build and test
        run: |
          echo "Build Number: $BUILD_NUMBER"
          echo Running locally,
          echo Building application,
          echo Running tests,
          echo Preparing for deployment.

  deploy-development:
    needs: build
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    environment: Development

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Development
        run: |
          echo "Build Number: $BUILD_NUMBER"
          echo "Deploying to Development environment..."
          echo "Running deployment scripts and configurations for Development..."
          echo "MY_ACTION_VALUE: $MY_ACTION_VALUE"
